@page "/user/delete/{userId:int}"
@using BlazorApp.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize]

<h2>Delete User</h2>
<br />
<div class="form-group">
    <h4>Do you want to delete this user?</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>First Name</td>
                <td>@user.FirstName</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@user.LastName</td>
            </tr>
            <tr>
                <td>Company Name</td>
                <td>@user.CompanyName</td>
            </tr>
            <tr>
                <td>Phone Number</td>
                <td>@user.PhoneNumber</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@user.Email</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <input type="submit" value="Delete" @onclick="(async () => await RemoveUser(user.Id))" class="btn btn-danger" />
    <input type="submit" value="Cancel" @onclick="(() => Cancel())" class="btn btn-warning" />
</div>

@code {
    [Parameter]
    public int userId { get; set; }
    protected User user = new User();

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<User>($"https://localhost:7199/api/User/{userId}");
    }

    protected async Task RemoveUser(int userId)
    {
        await Http.DeleteAsync($"https://localhost:7199/api/User/{userId}");
        NavigationManager.NavigateTo("/manageuser");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/manageuser");
    }
}
